.DS_Store
.metadata
.bsp
logs
project/project
project/target
target
tmp
.history
dist
*.*~
/.idea
*.iml
*.ipr
*.iws
*~
/out
/.idea_modules
.classpath
.project
.settings/
/RUNNING_PID
velocity.log
nohup.out
data.mdb